<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyyu.ssm.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.yyyu.ssm.pojo.Customer">
    <id column="cust_id" jdbcType="BIGINT" property="custId" />
    <result column="cust_name" jdbcType="VARCHAR" property="custName" />
    <result column="cust_user_id" jdbcType="BIGINT" property="custUserId" />
    <result column="cust_create_id" jdbcType="BIGINT" property="custCreateId" />
    <result column="cust_source" jdbcType="VARCHAR" property="custSource" />
    <result column="cust_industry" jdbcType="VARCHAR" property="custIndustry" />
    <result column="cust_level" jdbcType="VARCHAR" property="custLevel" />
    <result column="cust_linkman" jdbcType="VARCHAR" property="custLinkman" />
    <result column="cust_phone" jdbcType="VARCHAR" property="custPhone" />
    <result column="cust_mobile" jdbcType="VARCHAR" property="custMobile" />
    <result column="cust_zipcode" jdbcType="VARCHAR" property="custZipcode" />
    <result column="cust_address" jdbcType="VARCHAR" property="custAddress" />
    <result column="cust_createtime" jdbcType="TIMESTAMP" property="custCreatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    cust_id, cust_name, cust_user_id, cust_create_id, cust_source, cust_industry, cust_level, 
    cust_linkman, cust_phone, cust_mobile, cust_zipcode, cust_address, cust_createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.yyyu.ssm.utils.page.Page" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer
  </select>

</mapper>